[submodule "gribi"]
	path = gribi
	url = git@github.com:tonk-gg/gribi.git
[submodule "playground/module-template/contracts/lib/forge-std"]
	path = playground/module/contracts/exmaple/lib/forge-std
	url = https://github.com/foundry-rs/forge-std